* {
    margin: 0;
    padding: 0;
}


.logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.estilonav {
    background-color: peru;;
}

.pie-de-pagina {
    background-color: peru;
    margin-top: 450px;
}

